@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Press+Start+2P&family=Sixtyfour+Convergence&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alan+Sans:wght@300..900&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=BBH+Sans+Hegarty&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}
/* -- Este código é protegido pelos direitos altorais, não deve ser usado e nem copiado 
sem a altorização do altor.-- */


:root {
    --cor1: rgb(45, 45, 244);
    --fundo: rgb(28, 28, 28);
    --fundoicon: rgb(61, 107, 255);
    --sombra: 0.2rem 0.2rem 0.2rem var(--cor1);
    --letra: 'Momo Trust Display', Arial, Helvetica, sans-serif;
}

html {
    font-size: 1.2vw;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    color: white;
    perspective: 100000px;
    padding-top: 5rem;
}h1 {
    font-size: 4rem;
    font-family: var(--letra);
    color: var(--cor1);
    letter-spacing: 0.3rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.4rem;
}section {
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
} a {
    transition: 0.3s;
    text-decoration: none;
    color: white;
}
a:hover {
    transform: scale(1.05);
}
span {
    color: var(--cor1);
    font-weight: bold;
}


#inicio {
    display: grid;
    grid-template-columns: 27.5% 67.5%;
    gap: 5%;
    img {
        width: 100%;
        border-radius: 1.5rem;
        box-shadow: var(--sombra);
    }
}.texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}.redes {
    display: flex;
    gap: 2rem;
    i {
        font-size: 2.5rem;
        text-shadow: var(--sombra);
    }

}


#links {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: var(--sombra);
    }
}#destaques {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding-top: 3rem;
    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        border-radius: 1rem;
        position: relative;
        padding-top: 3rem;
        box-shadow: var(--sombra);
        i {
            position: absolute;
            right: 2rem;
            top: 0;
            transform: translateY(-50%);
            width: 5rem;
            height: 5rem;
            background-color: var(--fundo);
            font-size: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: var(--sombra);
        }
        h3 {
            color: var(--cor1);
            text-transform: uppercase;
            font-family: var(--letra);
            letter-spacing: 0.05rem;
        }
    }
}.titulo {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--letra);
    color: var(--cor1);
    letter-spacing: 0.2rem;
}


#falas {
    display: flex;
    gap: 3rem;
    width: 80%;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 2rem;
    padding-top: 6rem;
    scrollbar-width: none;
    div {
        width: 20rem;
        position: relative;
        padding: 2rem;
        padding-top: 4.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: none;
        box-shadow: var(--sombra);
        border-radius: 1rem;
        h3 {
            color: var(--cor1);
        }
        img {
            position: absolute;
            width: 8rem;
            height: 8rem;
            left: 2rem;
            top: 0;
            transform: translateY(-50%);
            border: 0.2rem solid var(--cor1);
            border-radius: 50%;
        }
    }    

}




footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2rem;
    background-color: var(--cor1);
    margin-top: 2rem;
}


/* -- Responsividade para dispositivos moveis -- */
@media (min-width: 768px) and (max-width: 1024px) {
html { 
    font-size: 1.9vw;
}
section {
    padding-left: 6rem;
    padding-right: 6rem;
}a:hover {
    transform: scale(1.0);
}
#inicio {
    grid-template-columns: auto;
    gap: 2rem;
    img {
        width: 70%;
        margin: 0 auto;
    }
}.texto {
    gap: 2rem;
}.redes {
    display: flex;
    gap: 2rem;
    i {
        font-size: 3rem;
    }

}
#links {
    grid-template-columns: auto;
    a {
        padding: 2rem;
    }
}#destaques {
    grid-template-columns: auto;
    row-gap: 3.5rem;
    padding-top: 3.5rem;
    div {
        gap: 2rem;
        padding-top: 3.5rem;
        i {
            width: 6rem;
            height: 6rem;
            font-size: 3rem;
        }
    }
}
#falas {
    div {
        width: 28rem;
    }
}
}




@media (max-width: 767px) {
html {
    font-size: 2.7vw;
}
section {
    padding-left: 4rem;
    padding-right: 4rem;
}a:hover {
    transform: scale(1.0);
}
#inicio {
    grid-template-columns: auto;
    gap: 3rem;
    img {
        width: 90%;
        margin: 0 auto;
    }
}.texto {
    gap: 2rem;
}.redes {
    gap: 2rem;
    i {
        font-size: 3rem;
    }

}


#links {
    grid-template-columns: auto;
    gap: 2rem;
    a {
        padding: 2rem;
    }
}#destaques {
    grid-template-columns: auto;
    row-gap: 3.5rem;
    padding-top: 3rem;
    div {
        i {
            width: 6rem;
            height: 6rem;
        }
    }
    }
.titulo {
    padding-left: 8rem;
    padding-right: 8rem;
}


#falas {
    div {
        width: 27rem;
    }    

}
}



























